// app global css in SCSS form
.content {
  max-width: 1200px;
  min-height: 0 !important;
}

.desktop-only {
  display: block;
  @media (max-width: 600px) {
    display: none;
  }
}

.gradient-bg {
  background: linear-gradient(135deg, #ec4899, #dc5cf6);
  color: white;
}

.spinner {
  animation: spin 2s linear infinite;
  display: inline-block;
  transition: 1s all;
}

.q-layout {
  font-family: 'Inter', sans-serif;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}
